In [1]:
from google.cloud import bigquery

PROJECT = !gcloud config get-value project
PROJECT = PROJECT[0]

%env PROJECT=$PROJECT
123

env: PROJECT=qwiklabs-asl-00-0ac399323b4f

123

In [2]:
%%bigquery --project $PROJECT
#standardSQL
SELECT
    *
FROM
    `qwiklabs-asl-03-26f02ba81102.ASL_project.gta_bell_labels`
WHERE
    RAND() < .003 -- sample a small fraction of the data

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 397.38query/s]
Downloading: 100%|██████████| 15/15 [00:01<00:00, 10.55rows/s]

,int64_field_0,poly_id,total_deployed_bw,cell_count,centroid_lon,centroid_lat,radiance,dwellings,households,med_income,...,n_bank,n_bar,n_hotel,n_mall,n_grocery,avg_poi_area,med_poi_area,tot_poi_area,n_poi,n_restaurant
0,1774,3502,3742.5,513,-79.603347,43.779726,39.510994,714.841826,696.927787,1646.405214,...,0,1,0,0,0,1.456145e-07,7.303052e-08,2.344140e-06,0,0
1,357,1208,6503,907,-79.636306,43.549249,13.542767,260.842974,252.729599,661.074046,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0
2,321,1120,3197,434,-79.735184,43.541286,24.675808,987.518404,971.107795,2980.927614,...,0,0,0,0,0,6.611433e-08,6.907190e-08,3.920049e-07,0,0
3,637,1916,7865,1083,-79.669265,43.620871,137.106628,453.902425,448.700198,1305.857780,...,3,1,2,0,2,3.290517e-07,2.717540e-07,1.088288e-05,0,0
4,2629,4456,2997,408,-79.537429,43.874837,6.489951,60.059201,58.984121,153.997952,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0
5,1445,3100,4651,633,-79.680252,43.740052,88.520409,47.414327,46.259822,169.393753,...,0,0,0,0,0,2.417178e-07,3.029845e-07,1.325867e-06,0,0
6,2145,3929,5742,778,-79.251782,43.819374,76.592384,51.728693,50.371497,153.212168,...,0,0,0,0,6,1.457874e-07,1.023788e-07,5.894363e-06,0,0
7,2477,4282,1039.5,144,-79.713211,43.858996,87.523376,101.225370,91.862653,217.042411,...,2,2,1,1,0,2.807495e-07,8.633897e-08,1.272674e-05,0,0
8,149,565,2641.5,357,-79.757156,43.485513,3.655434,63.970507,53.430310,133.516952,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0
9,3064,4253,2020,264,-79.163891,43.851074,2.837608,37.534044,35.985630,87.133476,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0
10,3134,4758,316.5,45,-79.691238,43.906507,1.696311,8.644145,7.858314,19.414658,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0
11,292,1038,2148,294,-79.768143,43.533321,5.153768,4.589143,4.061196,10.237412,...,0,0,0,0,0,9.265641e-05,9.265641e-05,9.265641e-05,0,0
12,3132,4752,67.5,9,-79.757156,43.906507,1.773107,14.138364,12.890861,31.187568,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0
13,3031,3636,211.5,33,-79.867020,43.795588,1.760213,16.764516,15.857086,49.398130,...,0,0,0,0,0,8.722096e-08,8.722096e-08,1.744419e-07,0,0
14,120,480,1108,152,-79.823075,43.477542,7.083145,3.270493,2.839219,6.469107,...,0,0,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0,0